/* hover des td */
#calendar-table td:hover {
    transform: scale(1.2);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
/* bouton de navigation */
.btn-nav {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    /* box-shadow: 0 6px 10px 0 #0000001a, 0 1px 18px 0 #0000001a, 0 3px 15px -1px #0003; */
}
/* .arrow-left {
    top: 15px;
    transform: rotate(30deg);
    left: -3px;
}
.arrow-right {
    transform: rotate(-30deg);
    left: -3px;
    top: 4px;  
} */
/* .arrow-left, .arrow-right {
    height: 3px;
    width: 18px;
    background-color: black;
    border-radius: 10px;
} */
.arrow-btn {
    height: 40px;
    width: 40px;
}
.arrow-rotate180 {
    transform: rotate(180deg);
    /* top: 25px;
    left: 8px; */
}
/* bouton d'ajout d'évenement */
.ajout-event {
    height: 60px;
    width: 60px;
    right: 190px;
    top: 870px;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #0000001a, 0 1px 18px 0 #0000001a, 0 3px 15px -1px #0003;
}
.img-ajout-event1 {
    top: 27px;
    left: 16px;
}
.img-ajout-event2 {
    transform: rotate(90deg);
    top: 23px;
    left: 16px;
}
.img-ajout-event1, .img-ajout-event2 {
    height: 4px;
    width: 28px;
    background-color: black;
    border-radius: 10px;
}
.ajout-event:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.3);
}

/* Couleur pour chaque mois */

.td-month-Janvier:hover, .btn-prev-Janvier , .btn-next-Janvier, .ajout-event-Janvier{
    background-color:rgb(255, 193, 158)!important;
}
.td-month-Février:hover, .btn-prev-Février , .btn-next-Février, .ajout-event-Février{
    background-color:rgb(255, 158, 158)!important;
}
.td-month-Mars:hover, .btn-prev-Mars , .btn-next-Mars, .ajout-event-Mars{
    background-color:rgb(222, 255, 191)!important;
}
.td-month-Avril:hover, .btn-prev-Avril , .btn-next-Avril, .ajout-event-Avril{
    background-color:rgb(198, 255, 236)!important;
}
.td-month-Mai:hover, .btn-prev-Mai , .btn-next-Mai, .ajout-event-Mai{
    background-color:rgb(190, 250, 255)!important;
}
.td-month-Juin:hover, .btn-prev-Juin , .btn-next-Juin, .ajout-event-Juin{
    background-color:rgb(200, 215, 255)!important;
}
.td-month-Juillet:hover, .btn-prev-Juillet , .btn-next-Juillet, .ajout-event-Juillet{
    background-color:rgb(233, 199, 255)!important;
}
.td-month-Aout:hover, .btn-prev-Aout , .btn-next-Aout, .ajout-event-Aout{
    background-color:rgb(255, 205, 251)!important;
}
.td-month-Septembre:hover, .btn-prev-Septembre , .btn-next-Septembre, .ajout-event-Septembre{
    background-color:rgb(255, 203, 225)!important;
}
.td-month-Octobre:hover, .btn-prev-Octobre , .btn-next-Octobre, .ajout-event-Octobre{
    background-color:rgb(255, 187, 187)!important;
}
.td-month-Novembre:hover, .btn-prev-Novembre , .btn-next-Novembre, .ajout-event-Novembre{
    background-color:rgb(197, 227, 255)!important;
}
.td-month-Décembre:hover, .btn-prev-Décembre , .btn-next-Décembre, .ajout-event-Décembre{
    background-color:rgb(211, 228, 185)!important;
}
.bg-second {
    background-color: rgb(200, 200, 200)!important;
}
.bg-second:hover {
    background-color: rgb(200, 200, 200)!important;
}
.btn:focus {
    box-shadow: none!important;
}
.w-14 {
    width: 14%;
}
.w-300 {
    width: 300px;
}
.w-800 {
    width: 800px;
}
.w-max-content {
    width: max-content;
}
.vh-50 {
    height: 50vh;
}
.vh-80 {
    height: 80vh;
}
.right-0 {
    right: 0;
}
#calendar-table {
    min-height: 500px;
}
#calendar-table td {
    height: 130px;
}
.container-calendar-event a {
    z-index: 2;
}
.container-calendar-event a:hover {
    transition: 0.3s ease-in-out;

}
.text-second {
    color: rgb(197, 197, 197);
}

/* formulaire d'ajout d'événement */
.form-ajout-event {
    width: 500px;
}

